name: CI

on:
  pull_request:
    branches: [main]

jobs:
  validate-pr-title:
    runs-on: ubuntu-slim
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  check:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: astral-sh/setup-uv@v7
      - name: pyright
        run: uv run --frozen --all-extras pyright
      - name: ruff check
        run: uv run --frozen --all-extras ruff check
      - name: ruff format
        run: uv run --frozen --all-extras ruff format --check --diff

  test:
    needs:
      - validate-pr-title
      - type-check
      - ruff-check
      - ruff-format
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: astral-sh/setup-uv@v7
      - uses: ./.github/actions/setup-llama-cpp
      - name: pytest
        run: uv run --frozen --all-extras pytest -v
