name: CI

on:
  pull_request:
    branches: [main]

jobs:
  validate-pr-title:
    runs-on: ubuntu-slim
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  type-check:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: astral-sh/setup-uv@v7
      - name: pyright
        run: uv run --frozen pyright

  ruff-check:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
        with:
          version-file: "pyproject.toml"

  ruff-format:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
        with:
          version-file: "pyproject.toml"
          args: "format --check --diff"

  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      - uses: astral-sh/setup-uv@v7
      - name: pytest
        run: uv run --frozen pytest -vv -s --tb=long --cov=src tests/
